@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body{
    margin: 0px;
}
#wrapper{
    background-color: khaki;
}
.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}
.nav-content a{
    padding: 20px;
}
#name{
    font-size: 50px;
    margin-left: 35px;
    margin-bottom: 30px;
}
.description{
    margin-left: 15%;
}
.projects{
    position: relative;
    background-color: black;
    padding: 0px;
    margin : 0;
    color: white;
    
}
#project-intro{
    padding: 15px;
    
}
.projects img{
    width: 70%;
    height: 400px;
    margin: 15px;
}
.project-preview{
    text-align: center;
}
.skills{
    background-color:blanchedalmond;
    margin: 10px;
    box-shadow: 3px 3px 5px black;
}
.footer h3{
    background-color: lime;
    width: max-content;
    font-family: calibri;
}
.about{
    background-color: lavender;
    
}
@media (max-width:600px){
    .projects img{
        height: 250px;
    }
}
