#wrapper{
 
}
.nav-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}
.nav-content a{
    padding: 20px;
}
#name{
    font-size: 50px;
    margin-left: 35px;
    margin-bottom: 30px;
}
.description{
    margin-left: 15%;
}
.projects{
    position: relative;
    background-color: gray;
    padding: 20px;
    margin-top: 30px;
}
#project-intro{
    padding: 15px;
    
}
img{
    width: 70%;
    height: 400px;
}
.project-preview{
    text-align: center;
}